
<div class="jumbotron">
 <center>
    <h2>Stream your live entertainment!</h2>
</center> 
<center>
    <p class="lead">Share your lectures, concert, or games with as many as you'd like.</p>
</center>
<form class="form-inline text-center" role="form">
  <div class="form-group">
<label class="sr-only" for="channelInputName">Channel name</label>

  </div>
  <a id ="broadcaster" class="btn btn-success btn-lg btn-sucess" href="#">Broadcast Now!</a> 

<form>
    <% if ( req.session.user ) { %>
    <input type="text" class="form-control input-small" id="channelInputName" placeholder="Enter channel name">

    <% } %>
</form>
</div>
v


<div class="jumbotron">
<center>
    <h2>Browse All Live Channels</h2>
</center>
<center>    
<p class="lead">Check out awesome lectures, exciting concerts, or righteous games <br> with many other people! You don't even need to register!</p>
 </center>

<form class="form-inline text-center" role="form">
  <div class="form-group">
<label class="sr-only" for="channelInputName">Channel name</label>
  </div>
  <a class="btn btn-primary btn-lg btn-sucess" href="/channel">View Now!</a>
</form>
</div>


